

body {
  background-color: rgb(254,252,250);
  font-family: Poppins, Helvetica, sans-serif;
  /*box-sizing: border-box;*/
}

h1 {
  color: black;
}

h2 {

  margin: 0rem;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0.3rem;
}

p {
  color: slategray;
  margin: 0px;
}


.grid-2cols {
  height: 100vh;
  width: 100vw;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0px auto;
  /*border: 1px solid red;*/
}

.column-left {
  position: static;
  width: 30%;
  max-width: 400px;
  height: 100%;
  left: 0px;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.column-right {
  width: 45%;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.content-wrap {
  padding: 4rem;
}

.prof-pic {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.list-card {
  padding: 0.75rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 8px;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.3px solid rgba(0,0,0,0.05);
  transition-property: box-shadow, background-color;
  transition-duration: 1s;
}

.list-card:hover {
  background-color: white;
  box-shadow: 6px 6px 30px 12px rgba(0, 0, 0, 0.1);
  transition-property: box-shadow, background-color;
  transition-duration: 0.4s;
}

.list-card-content {
  
}

.list-card-image {
  transition-property: transform;
  transition-duration: 0.2s;
}

.list-card-image:hover {
  transform: rotate(-40deg);
  transition-property: transform;
  transition-duration: 0.3s;
}

.list-section-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}