
* {
  box-sizing: initial;
}

body {
  background-color: rgb(254,252,250);
  font-family: Poppins, Helvetica, sans-serif;
}

@font-face { font-family: Mogena; src: url('assets/Mogena.ttf'); } 
@font-face { font-family: Mogena; font-weight: bold; src: url('assets/Mogena.ttf');}

h1 {
  color: black;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h2 {

  margin: 0rem;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0.6rem  2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: sp;*/
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  padding: 0.6rem  2rem;
  display: flex;
  justify-content: left;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

p, table, thead, tbody, tr, th, td, li, label {
  color: rgb(64, 64, 64);
  font-weight: normal;
  margin: 0px;
}

table {
  text-align: left;
  border-spacing: 4px;
}

th {
  font-weight: bold;
}

td {
  line-height: 1rem;
  padding: 0.3rem;
}

ul {
  margin: 0px;
  padding-left: 1rem;
}

article {
  margin: 0.5rem 0rem;
}

#logo {
  font-size: 2rem;
  font-family: Mogena, sans-serif;
}

#signature {
  display: none;
}

#submit-button {
  grid-column: 1 / 3;
  background-color: rgb(195, 227, 177);
  color: black;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 4px;
  font-family: Poppins, Helvetica, sans-serif;

  transition-property: background-color;
  transition-duration: 0.2s;
}

#submit-button:hover {
  background-color: rgb(178, 212, 159);
}

.column-parent {
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: top;
  margin: 0px auto;
  /*border: 1px solid red;*/
}

.column-left {
  position: sticky;
  /*width: 30%;*/
  max-width: 400px;
  top: 5rem;
  height: 100%;
  left: 0px;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.column-right {
  /*width: 45%;*/
  /*border: 1px solid red;*/
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.content-wrap {
  padding: 4rem;
}

.content-card {
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 2rem;
  background-color: white;

  border: 0.2px solid rgba(0, 0, 0, 0.1);

  transition-property: box-shadow;
  transition-duration: 0.5s;

}

.content-card:hover {
  
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
}

.occupation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.occupation > a {
  text-decoration: none;
}

.occupation > * > article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /*height: 100%;*/
  padding: 1rem;
  border-radius: 10px;
  border: 0.2px solid rgba(0, 0, 0, 0.1);

  transition-property: background-color;
  transition-duration: 0.1s;
}

.occupation > * > article:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.occupation > * > article > img {
  margin-bottom: 0.5rem;
}

.prof-pic {
  width: 20rem;
  height: 26rem;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  float: left;
}

.list-section-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.form-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 3fr;
  columns: 2;
}

input[type="text"], textarea {
  background-color: white;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0px 6px;
}

input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus {

  outline: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 600px) {

  header {
    position: static;
  }

  .column-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    margin: 0px auto;
  }

  .column-left {
    position: static;
  }

}